<div class="content_display">
  <%= @entry.render %>

  <% unless @entry.tags.blank? %>
    <%= separator %>

    <p style="text-align: right; font-style: italic; font-size: 0.75em">
      <%= link_entry_tags @entry, :class => 'entrytags' %>
    </p>
  <% end %>
</div>

