.content_display
  %div= raw @entry.render

  - unless @entry.tags.blank?
    = separator
    %p{:style => "text-align: right; font-style: italic; font-size: 0.75em"}= raw link_entry_tags(@entry, :class => 'entrytags')

