<h2>User Account Login</h2>

<%= form_tag({:action => :login}, :id => 'login') do %>
  <p>
    <label>Username</label>
    <br />
    <input type="text" id="username" name="username" class="full_width_edit" />
  </p>

  <p>
    <label>Password</label>
    <br />
    <input type="password" id="password" name="password" class="full_width_edit" />
  </p>

  <p>
    Are you having trouble logging in?
    <%= link_to 'Reset your password', :controller => :users, :action => :reset_password %>.
  </p>

  <%= separator %>

  <div class="totheright">
    <%= submit_tag 'Log In' %>
  </div>
<% end %>

<script lang="JavaScript">
  $('#username,#password').highlightWhenFocused();
  $('#username').focus();
</script>
