<%= h2 'Request a new password' %>

<%= separator %>

<p>
Please provide us with either your username or the email address on your account.
</p>

<%= separator %>

<% form_tag do %>
  <p>
    <label>Username:</label>
    <br />
    <input type="text" id="username" name="username" class="full_width_edit" />
  </p>

  <p>
    <label>Email:</label>
    <br />
    <input type="text" id="email" name="email" class="full_width_edit" />
  </p>

  <%= separator %>

  <div class="totheright">
    <input type="submit" value="Request Password" />
  </div>
<% end %>

<script lang="JavaScript">
  $('#username,#email').highlightWhenFocused();
  $('#username').focus();
</script>
