h1
  :font-size 3em
  :padding 10px

h2
  :font-size 2em
  :padding 10px

h3
  :font-size 1.25em
  :padding 10px

a
  :color #000
  &:visited
    :color #000
  &:hover
    :color #fff
    :background-color #333

a.list_tag
  :font-style italic
  :font-size 0.75em

input, textarea
  :font-family consolas, monospace

body
  :font-family georgia, serif

div.about
  p
    :font-size 1.25em
    :padding-top 2em

#page_footer
  :font-size 0.8em
  :text-align center

=lookatme
  :background-color #CFC
  :padding 0.5em
  :line-height 3em
  &:hover
    :background-color #090
    :color #FFF

a.lookatme
  +lookatme

.entry_index_hidden_links
  :display none
  :float right

=entry_link
  :padding 0.5em
  :margin 0.5em
  :line-height 2em
  :text-decoration none

a.view_link
  +entry_link
  :background-color #CFC
  &:hover
    :background-color #090
    :color #FFF
a.edit_link
  +entry_link
  :background-color #FFC
  &:hover
    :background-color #990
    :color #FFF
a.destroy_link
  +entry_link
  :background-color #FCC
  &:hover
    :background-color #900
    :color #FFF
a.cancel_link
  +entry_link
  :background-color #FCF
  &:hover
    :background-color #909
    :color #FFF

=tag_link
  :line-height 2.5em
  :padding 0.25em
  :text-decoration none
a.tag_link0
  +tag_link
  :background-color #CFF
  &:hover
    :background-color #099
    :color #FFF
a.tag_link1
  +tag_link
  :background-color #FCF
  &:hover
    :background-color #909
    :color #FFF
a.tag_link2
  +tag_link
  :background-color #FFC
  &:hover
    :background-color #990
    :color #FFF
a.tag_link3
  +tag_link
  :background-color #FCC
  &:hover
    :background-color #900
    :color #FFF
a.tag_link4
  +tag_link
  :background-color #CFC
  &:hover
    :background-color #090
    :color #FFF
a.tag_link5
  +tag_link
  :background-color #CCF
  &:hover
    :background-color #009
    :color #FFF

p.entry_index_content

a.tagcloud
  :text-decoration none

a.nav

a.logo
  :text-decoration none
