<div class="about">

  <h2>What is SwankDB?</h2>

  <div style="width: 40%; float: left">
    <div class="nodebox">
      <div class="node">
        <h3>Personal Database</h3>
        <hr>
        <p>
          SwankDB is a fast personal database for all the stuff you don't
          want to forget, but don't want to remember.
        </p>
      </div>
    </div>

    <div class="nodebox">
      <div class="node">
        <h3>Set and Forget</h3>
        <hr>
        <p>
          As soon as a bit of information is in your SwankDB, you'll know it'll
          be there if you ever need it.  With entries sorted by either their
          last update or when they were added, as time goes by older stuff
          will fade out of view.
        </p>
      </div>
    </div>
  </div>

  <div style="width: 40%; float: right">
    <div class="nodebox">
      <div class="node">
        <h3>Easy In</h3>
        <hr>
        <p>
          Add new entries to your database as quickly as you can type them.
        </p>
      </div>
    </div>

    <div class="nodebox">
      <div class="node">
        <h3>Easy Out</h3>
        <hr>
        <p>
          With tags and search, it's easy to find the information you're
          looking for within seconds.
        </p>
      </div>
    </div>

    <div class="nodebox">
      <div class="node">
        <a href="/users/new">Create your SwankDB now!</a>
      </div>
    </div>
  </div>

</div>

