<div class="about">

  <h2>What is swankdb?</h2>

  <p>
    Have you ever paid a bill over the phone, and they give you a confirmation
    number?  What are you supposed to do with that number?  Put it in swankdb!
  </p>

  <p>
    Have you ever had a few tracking numbers you wanted to keep handy?
    Put them in swankdb!
  </p>

  <p>
    Have you ever needed to keep a phone number, but don't really want it
    cluttering up your address book?  Put it in swankdb!
  </p>

  <p>
    Have you ever called around for prices on a purchase, estimates on a
    home improvement project?  Put them in swankdb!
  </p>

  <p>
    It's a personal database for simple pieces of knowledge.
  </p>

  <p>
    It's a list of entries, tagged and sorted by the last time they were edited.
  </p>

</div>

